.admin-report-page{
    padding-top: 50px;
}

.asset-scroll-box {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 6px;
}

table {
  page-break-inside: auto;
}

tr {
  page-break-inside: avoid;
  page-break-after: auto;
}
